<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login & Registration</title>
    <link rel="stylesheet"  href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1>Log In</h1>
    <form action="/login" method="post">
        <label for "email">Email:</label>
        <input type="text" name="email"><br>
        <label for "pw">Password:</label>
        <input type="password" name="pw"><br>
        <input type="submit" value="Log In">
    </form>
    <h1>Create New User</h1>
    <form action="/createUser" method="POST">
        <label for "firstName">First Name:</label>
        <input type="text" name="firstName"><br>
        <label for "lastName">Last Name:</label>
        <input type="text" name="lastName"><br>
        <label for "email">Email:</label>
        <input type="text" name="email"><br>
        <label for "bday">Date of Birth:</label>
        <input type="date" name="bday"><br>
        <label for "pw">Password:</label>
        <input type="password" name="pw"><br>
        <label for "pwConfirm">Confirm Password:</label>
        <input type="password" name="pwConfirm"><br>
        <input type="submit" value="Add User">
    </form>
    {% with messages = get_flashed_messages() %}     <!-- declare a variable called messages -->
            {% if messages %}                            <!-- check if there are any messages -->
                <h2>Error(s):</h2>
                    {% for message in messages %}            <!-- loop through the messages -->
                        <p>{{message}}</p>                   <!-- display each message in a paragraph tag -->
                    {% endfor %}
                {% endif %}
            {% endwith %}
</body>
</html>